@font-face {
  font-family: "iconfont"; /* Project id 5080804 */
  src: url('iconfont.woff2?t=1764831072352') format('woff2'),
       url('iconfont.woff?t=1764831072352') format('woff'),
       url('iconfont.ttf?t=1764831072352') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-sousuo:before {
  content: "\e602";
}

.icon-bilibili:before {
  content: "\e600";
}

.icon-tuite:before {
  content: "\e604";
}

