/*@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");*/
/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    font-size: 12.8px;*/
/*}*/

/*h1,h2{*/
/*    letter-spacing: 0.5rem;*/
/*}*/

/*.wrapper{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*#index{*/
/*    width:1193px;*/
/*    height:957.43px;*/
/*    padding:48px 32px;*/
/*    background: #1b1f22;*/
/*    text-align: center;*/
/*}*/

/*#index img{*/
/*    width: 157px;*/
/*    height: 157px;*/
/*    border-radius: 50%;*/
/*    border: 3px #83da42 solid;*/
/*}*/

/*#index h2{*/
/*    margin: 56px 0 12.8px;*/
/*    font-size: 24px;*/
/*    color: rgb(255, 255, 255);*/
/*    text-transform: uppercase;*/
/*    font-weight: 350;*/
/*    font-family: 'Source Sans Pro', sans-serif;*/
/*    line-height: 1.65;*/
/*}*/


/*#index .color{*/
/*    width: 528px;*/
/*}*/

/*#index h1{*/
/*    height: 46.797px;*/
/*    padding: 48px 32px;*/
/*    font-family: 'Source Sans Pro', sans-serif;*/
/*    font-size: 36px;*/
/*}*/

/*#index span:nth-of-type(1){*/
/*    font-size: 17px;*/
/*    line-height: 1.8;*/
/*    color: #AAA;*/
/*}*/

/*#index span:nth-of-type(2){*/
/*    font-size: 15px;*/
/*    line-height: 1.8;*/
/*    color: #888;*/
/*}*/

/*#index #contact{*/
/*    margin-top: 100px;*/
/*    width: 927px;*/
/*    height: 46px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*#index #contact li{*/
/*    line-height: 46px;*/
/*    border: 1px #ddd solid;*/
/*    height: 100%;*/
/*}*/

/*#index #contact li i{*/
/*    margin-right: 4px;*/
/*}*/

/*#index #contact li a{*/
/*    display: block;*/
/*    padding-left: 23px;*/
/*    padding-right: 20px;*/
/*    box-sizing: border-box;*/
/*    letter-spacing: 3px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*#index #contact li a:hover{*/
/*    background-color: #636262;*/
/*}*/

/*#index #friend-links{*/
/*    margin: 20px 0;*/
/*    line-height: 25px;*/
/*}*/

/*#index #friend-links span{*/
/*    color: #FFF;*/
/*    font-weight: 600;*/
/*    margin-right: 10px;*/
/*}*/

/*#index #friend-links a{*/
/*    font-size: 16px;*/
/*    border-bottom: #fffbfb dashed 1px;*/
/*}*/

/*#index #friend-links a:nth-of-type(1){*/
/*    margin:0 16px 0 8px;*/
/*}*/

/*#index #run_time{*/
/*    display: block;*/
/*    margin: 40px 0;*/
/*    font-size: 16px;*/
/*    font-weight: 300;*/
/*}*/

/*footer{*/
/*    margin-top: 50px;*/
/*}*/

/*footer small{*/
/*    color: #888;*/
/*    letter-spacing: 3px;*/
/*}*/

/*footer small a{*/
/*    color: #888;*/
/*    font-size: 16px;*/
/*    border-bottom: 1px dashed #ddd;*/
/*}*/

/*.color{*/
/*    background-image: linear-gradient(90deg,*/
/*    #3498db 0%,*/
/*    #f47920 10%,*/
/*    #f7acbc 30%,*/
/*    #3498db 50%,*/
/*    #d71345 70%,*/
/*    #ffd400 90%,*/
/*    #3498db 100%);*/
/*    background-clip: text;*/
/*    background-size: 200% auto;*/
/*    animation: masked-animation 8s infinite linear;*/
/*}*/

/*.color h1{*/
/*    color:transparent;*/
/*}*/

/*@keyframes masked-animation {*/
/*    0% {*/
/*        background-position: 0 0;*/
/*    }*/
/*    100% {*/
/*        background-position: -100% 0;*/
/*    }*/
/*}*/

/*.icon-fish{*/
/*    color: white;*/
/*}*/

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.28rem;
}

h1,h2{
    letter-spacing: 0.5rem;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.circle {
    z-index: -1;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 40rem;
    height: 20rem;
    border-radius: 50%;
    background: radial-gradient(circle,rgba(0,0,0,0.1) 20%, rgba(0, 0, 0, 0.1) 70%);
    box-shadow: 0 0 5rem rgba(5, 5, 5, 1), 0 0 10rem rgba(10, 10, 10, 0.3);
    filter: blur(6rem);
}

#index{
    width: min(119.3rem, 100% - 6.4rem);
    min-height: 95.743rem;
    padding: 4.8rem 3.2rem;
    background: #1b1f22;
    text-align: center;
    margin: 0 auto;

}

#index img{
    width: 15.7rem;
    height: 15.7rem;
    border-radius: 50%;
    border: 0.3rem #83da42 solid;
}

#index h2{
    margin: 5.6rem 0 1.28rem;
    font-size: 2.4rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 350;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.65;
}


#index .color{
    width: 52.8rem;
}

#index h1{
    height: 4.6797rem;
    padding: 4.8rem 3.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.6rem;
}

#index span:nth-of-type(1){
    font-size: 1.7rem;
    line-height: 1.8;
    color: #AAA;
}

#index span:nth-of-type(2){
    font-size: 1.5rem;
    line-height: 1.8;
    color: #888;
}

#index #contact{
    margin-top: 10rem;
    width: 92.7rem;
    display: flex;
    justify-content: center;
}

#index #contact li{
    line-height: 4.6rem;
    border: 0.1rem #ddd solid;
}

#index #contact li i{
    margin-right: 0.4rem;
}

#index #contact li a{
    display: block;
    padding-left: 2.3rem;
    padding-right: 2rem;
    box-sizing: border-box;
    letter-spacing: 0.3rem;
    width: 100%;
    height: 100%;
}

#index #contact li a:hover{
    background-color: #636262;
}

#index #friend-links{
    margin: 2rem 0;
    line-height: 2.5rem;
}

#index #friend-links span{
    color: #FFF;
    font-weight: 600;
    margin-right: 1rem;
}

#index #friend-links a{
    font-size: 1.6rem;
    border-bottom: #fffbfb dashed 0.1rem;
}

#index #friend-links a:nth-of-type(1){
    margin:0 1.6rem 0 0.8rem;
}

#index #run_time{
    display: block;
    margin: 4rem 0;
    font-size: 1.6rem;
    font-weight: 300;
}

footer{
    margin-top: 5rem;
}

footer small{
    color: #888;
    letter-spacing: 0.3rem;
}

footer small a{
    color: #888;
    font-size: 1.6rem;
    border-bottom: 0.1rem dashed #ddd;
}

.color{
    background-image: linear-gradient(90deg,
    #3498db 0%,
    #f47920 10%,
    #f7acbc 30%,
    #3498db 50%,
    #d71345 70%,
    #ffd400 90%,
    #3498db 100%);
    background-clip: text;
    background-size: 200% auto;
    animation: masked-animation 8s infinite linear;
}

.color h1{
    color:transparent;
}

@keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.icon-fish{
    color: white;
}

.api{
    width: auto;
    height: 5.7rem;
}