*{
    padding: 0;
    list-style: none;
    text-decoration: none;
    margin: 0;
}

.body{
    margin: 0 auto;
    width: 960px;
}

/*修饰线标题*/
h2.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

h2.title::before,
h2.title::after {
    content: "";
    display: block;
    flex: 1;
    height: 1.13px;
    background-color: #ccc;
}

h2.title span{
    margin: auto 15px;
}

